.home-movies {
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    max-width: 1600px
  }
  
.movies-list {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  padding: 20px; 
  justify-content: center;
  }


.error-message {
    color: red;
    text-align: center;
    font-size: 18px;
  }
  
.no-movies {
    font-size: 18px;
    text-align: center;
    color: #7f8c8d;
  }
  
.movies-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px; 
  }
  

  .view-all-button {
    display: block;
    margin: 0 auto 40px auto;
    padding: 12px 24px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 40px;
  }
  
  .view-all-button:hover {
    background-color: #2980b9;
  }
  

  @media (max-width: 768px) {
    .view-all-button {
      width: 100%;
      margin: 10px 0;
    }
  }
